* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #222;
  color: #ccc;
  font-family: 'Merriweather', serif;
  font-size: 11px;
}

canvas {
  display: inline-block;
  border: 2px solid #999;
  background-color: #000;
}

#editor-controls.hidden {
  display: none;
}

#viewer {
  margin-top: 40px;
}

#viewer-container {
  position: relative;
  width: 600px;
  margin: auto;
}

#drawing-info {
  position: absolute;
  opacity: 0;
  transition: opacity 1.0s ease;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  top: 70%;
  left: 25%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

#drawing-info.show {
  opacity: 1;
}

#drawing-info-caption {
  font-size: 16px;
}

#drawing-info-location {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}

#thumbnails {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #999;
}

.thumbnail {
  width: 180px;
  height: 90px;
  margin: 10px;
}

.thumbnail > img {
  width: 100%;
  height: 100%;
}
